/* styles.css */

/*鼠标经过上方导航栏显示不同颜色*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }

/*被点击的导航栏显示高亮*/
  .navbar a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease; /* 添加过渡效果 */
  }
   /* 当元素拥有 .active 类时应用高亮颜色 */
   .navbar a.active,
   .navbar a:hover {
   color: #00FFFF; /* 替换为你想要的高亮颜色 */
   }


/*点击封面*/
.project-item {
  /* 样式调整 */
}

.project-item img {
  width: 100%;
  height: auto;
  cursor: pointer; /* 设置鼠标指针为手形，表示可点击 */
}

.video-title {
  /* 样式调整 */
}